logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/ssl
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
# Ignore Play! working directory #
bin/
/db
.eclipse
/lib
/deploy/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
*.class
